.bg-container{
    width: 100vw;
    height: 100vh;
}

.bg {
    object-fit: cover;
}

.review-container{
width: 100%;
}

.heading{
    margin-top: 20vh;
    margin-left: 8vw;
    color: white;
    position: absolute;
    font-size: 1.8em;
    transition: all 1s;
}

.heading span{
    color: rgb(88, 160, 255);
}

.heading-show{
    filter: blur(0px);
    margin-top: 20vh;
    margin-left: 8vw;
    color: white;
    position: absolute;
    font-size: 1.8em;
}


#eapps-google-reviews-1b9ec737-1189-4426-8d9c-f0aad52ac2c1{
    margin-top: 10vh;
    margin-bottom: 10vh;
}

