@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
    padding: 0;
    border: 0;
    margin: 0;
}

/* Header tjenester start */

.tjeneste_container{
    position: relative;
    z-index: 10;
    display: block;
    width: auto;
    height: 100%;
    max-width: 1240px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 40px;
}

.small_container{
    color: white;
    position: absolute;
    text-align: center;
    margin-top: 14rem;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 2px black;
}

.tjenester_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 16px;
}

.grid_item_tjenester_1 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: red;
}

/* Header tjenester end */