@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
    padding: 0;
    border: 0;
    margin: 0;
}

/* Header tjenester start */

.tjeneste_container{
    position: relative;
    z-index: 10;
    display: block;
    width: auto;
    height: 100%;
    max-width: 100%;
    padding: 0 40px;
}

.small_container{
    color: white;
    position: absolute;
    text-align: center;
    margin-top: 6rem;
    width: 100vw;
    height: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 2px black;
}

.tjenester_container H2{
    font-size: 20px;
    float: center;
}

.tjenester_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 18px;
    margin: 0 20rem;

}

.grid_item_tjenester {
    aspect-ratio: 1.4;
    position: relative;
    text-align: center;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 23px;
    transform: translate(-50%, -50%);
    font-weight: bold;
    text-shadow: black 0 2px;
    color: white;
}
img:hover {
    webkit-filter: blur(2px); /* Chrome, Safari, Opera */
    filter: blur(2px);
    transition: .2s;
}

.grid_item_tjenester:hover {
    color: brown;
}

.center:hover h3{
    background: -webkit-linear-gradient(rgb(68, 0, 255), rgb(245, 11, 11));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 1s;
}